@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1a1a1a;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.restart-block {
    display: none;
}

.start  {
    outline: none;
    cursor: pointer;
    display: block;
    width: 250px;
    height: 70px;
    margin: 380px auto;
    border: 2px solid grey;
    color: black;
    font-size: 26px;
    border-radius: 20px;
    background-color: white;
    transition: 0.3s;
}

.start:hover {
    border-radius: 25px;
    background-color: #6eff30;
    border-color: #3d8b22;
}

.event-block {
    display: none;
    opacity: 0%;
    width: 600px;
    text-align: center;
    margin: 300px auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.12) 5px 5px;
    background-color: #ffffff;
}

.date {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid #6eff30;
    font-size: 18px;
    border-radius: 20px;
}

.event {
    user-select: none;
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #cbcbcb;
    border-radius: 20px;
}

 .hidden {
    color: #a1a1a1;
    background-color: #a1a1a1;
}

.btn {
    margin: 30px 10px 0;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    outline: none;
    color: black;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
}

.continue {
    display: none;
    margin: 30px auto 0;
    border: 2px solid #88c92a;
    background-color: #a5f531;
}

.continue:hover {
    background-color: #c3ee8e;
}

.restart {
    border: 2px solid #e0c22e;
    background-color: #fad832;
}

.restart:hover {
    background-color: #ffe068;
}

.btn:hover {
    border-radius: 15px;
}

.success {
    border: 2px solid #88c92a;
    background-color: #a5f531;
}

.success:hover {
    background-color: #c3ee8e;
}

.denied {
    border: 2px solid #d91d1d;
    background-color: #f13b3b;
}

.denied:hover {
    background-color: #ff7c7c;
}

.congrats {
    display: block;
    font-size: 36px;
}

@media (min-width: 240px) and (max-width: 1000px){
    * {
        overflow: hidden;
    }

    .start {
        margin-top: 250px;
    }

    .event {
        width: 100%;
        height: 100px;
    }

    .congrats {
        display: block;
        font-size: 24px;
        font-weight: bold;
    }

    .restart {
        margin-top: 100px;
    }

    .event-block {
        overflow: hidden;
        margin-top: 35%;
        width: 300px;
        height: 400px;
    }
}

@media (min-width: 600px) and (max-width: 1200px){
    * {
        overflow: hidden;
    }

    .start {
        margin-top: 50%;
    }

    .event {
        width: 100%;
        height: 100px;
    }

    .congrats {
        display: block;
        font-size: 24px;
        font-weight: bold;
    }

    .restart {
        margin-top: 100px;
    }

    .event-block {
        overflow: hidden;
        margin-top: 35%;
        width: 500px;
        height: 300px;
    }
}